<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Qui somme nous ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Notre histoire et motivation</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          L'Ultimate Fighting Championship (UFC) est une organisation américaine d'arts martiaux mixtes (MMA), actuellement reconnue comme la plus importante ligue mondiale de ce sport de combat. La première soirée tenue par la promotion en novembre 1993 à Denver dans le Colorado, se présente comme un tournoi permettant de confronter différents styles d'arts martiaux et sports de combat dans des règles libres. Cet événement est alors souvent considéré comme un pilier de l'avènement des « MMA modernes ».
        </p>
        <br>
        <p>
          Notre projet est de pouvoir recensé tous les combattants pour leur donnée un certain niveau sur la scène internationale, bien conscient que dans certains pays, il est difficile de vite évoluer dans ce sport contrairement en Amérique, Russie... où ce sport commence peut à peut à devenir des instutions, nous avons donc créer cette plateforme. Le but ? Pouvoir se recenser dans notre base de données et nos équipes analyserons tous vos matchs afin de peut-être vous faire signer un contrat dans notre fédération.
        </p>
        <br>
        <p>
          Rien de plus simple, recensé vous soit sur notre application (Ionic) ici présente, où alors sur notre site internet (Angular), dans l'onglet nouveau combattant. Ajouter ensuite votre photo et toutes les informations qui vous sont demandées et vous voilà recensé. Si vous pensez avoir fait une erreur lors de la création de votre profil, vous pouvez vous rendre dans votre profil et le modifier facilement en 2 cliques. Si vous ne souhaitez plus combattre, encore une fois un bouton est dédier à cette information, cliquer sur la poubelle présente sur votre profil et vous voilà désinscrit !
          Vous pouvez aussi créer vos vocal pour nous faire écouter vos cris de victoire et utiliser l'appareil photo pour plus de clicher.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
