<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Qui suis-je ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="/assets/imgs/moi.jfif" alt="">
      </ion-col>
      <ion-col size="9">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem dolore aliquid expedita reiciendis ipsa
          nostrum quidem sit. Consectetur eum similique officia animi laudantium numquam saepe itaque. Voluptatum
          exercitationem quaerat quos!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Mon parcours</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat odit distinctio porro soluta aliquid quo quae,
          natus deleniti id qui obcaecati vitae quidem laborum, consectetur nulla quibusdam doloribus, sit aspernatur.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
